.normal {
  background-color: white;
}

.important {
  background-color: #fff3cd;
}

.lesson {
  background-color: white;
}

.lesson:has(input:checked) {
  background-color: #fff3cd;
}
.monday {
  background-color: #66ffff;
}

.tuesday {
  background-color: #ffd6d6;
}

.wednesday {
  background-color: #d6e4ff;
}

.thursday {
  background-color: #33ff66;
}

.friday {
  background-color: #ffff99;
}